.btn {
    margin-bottom: .8em;
}

.mobile {
    display: inline;
}

.hands img {
    width: 8em;
}

.score {
    margin: 1em 0;
}

.intro h1,
.match h2 {
    font-size: 1.4rem;
    text-align: center;
}

.score p,
.score h2 {
    font-size: 1rem;
}

.btn {
    font-size: .7rem;
}
