* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: sans-serif;
    background-color: rgb(31, 25, 49);
    color: white;
}

.mobile {
    display: none;
}

.score {
    display: flex;
    justify-content: space-around;
    margin: 3em 0;
}

.score p,
.score h2 {
    margin: .2em 0;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.intro,
.match {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro {
    transition: opacity .5s ease;
}

.match {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: opacity .5s ease .5s;
}

.intro h1,
.match h2 {
    font-size: 2.5rem;
    font-weight: bold;
}

.intro h1 {
    margin: 3em 0;
}

.match h2 {
    margin: 3em 0 .5em 0;
}

.btn {
    padding: .7em 2em;
    background-color: rgb(61, 102, 61);
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(64, 121, 64);
}

.hands,
.options {
    display: flex;
    justify-content: space-evenly;
    align-self: stretch;
}

.player-hand {
    transform: rotateY(180deg);
}

@keyframes shake-hand-player {
    25% {
        transform: translateY(-10%) rotateY(180deg);
    }

    50% {
        transform: translateY(0%) rotateY(180deg);
    }

    75% {
        transform: translateY(-10%) rotateY(180deg);
    }
    
    100% {
        transform: translateY(0%) rotateY(180deg);
    }
}

@keyframes shake-hand-computer {
    25% {
        transform: translateY(-10%);
    }

    50% {
        transform: translateY(0%);
    }

    75% {
        transform: translateY(-10%);
    }
    
    100% {
        transform: translateY(0%);
    }
}

.fadeOut {
    opacity: 0;
    pointer-events: none;
}